.hd{
    padding-bottom: 15px;
    overflow:hidden;
}
body{
overflow:auto;
}
.class1{
         float:left;
    }
.class2{
      
    Padding: 40px;
    float:right;
    }
.image {
        
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    }

.nav{
    Padding: 20px 10px;
    text-decoration:none;
    color:#000000
}

.center{
    text-align:center; 
    padding-left: 15%;
    padding-right: 15%;
 }
 .c
 {
    text-align: center;
 }
.button{
    background-color:cornflowerblue;
    color:#fff;
    text-decoration:none;
    text-align:center; 
    padding: 10px 20px 10px 20px;
    font-size: 22px;
}
.border {
 
    border: 1px solid;
    border-radius: 20px;
    padding: 4.5%;
    margin: 3.2%;
    float: left;
    text-align: center;

}
