*
{
    font-size:large;
    font-weight:400;
}
h1
{
    font-size:x-large;
    font-weight:bold
}
body{
    background-color: rgb(223, 190, 141);
    margin: 10%;
    }
#Button1{
    background-color: aquamarine;
}

